<a href="https://colab.research.google.com/github/Vinichenko123/Group1-Data-Preprocessing/blob/main/Group_1_Data_Analysis_and_Engineering_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Github link, you can use "save copy in github" in Files for commits
If you just joined, I've sent you an invite to the github through the same email that you're using for google colab
```
https://github.com/Vinichenko123/Group1-Data-Preprocessing.git
```

import pandas

In [11]:
# Load packages
import numpy as np
import graphviz
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import the data, change numerical data that represents categories to string
- might want to change the index to the "unnamed" column, but need to give it a name

In [12]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 100001 to 100100
Data columns (total 75 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Unnamed: 0                                         100 non-null    int64
 1   Birth Date                                         100 non-null    object
 2   Age                                                100 non-null    int64
 3   City                                               100 non-null    object
 4   Province                                           100 non-null    object
 5   Preferred_Language                                 100 non-null    object
 6   Birth_Country                                      100 non-null    object
 7   Year_of_Arrival_to_Canada                          100 non-null    object
 8   Years_in_Canada                                    100 non-null    int64
 9   Status_In_Canada                                   100 non-null    object
 10  Immigration_Category                               100 non-null    object
 11  Marital_Status                                     100 non-null    object
 12  Number_of_Dependents                               100 non-null    int64
 13  Gender_Identity                                    100 non-null    object
 14  LGBTQ                                              100 non-null    object
 15  Francophone                                        100 non-null    object
 16  Indigenous                                         100 non-null    object
 17  Race                                               100 non-null    object
 18  Education_Level                                    100 non-null    object
 19  Education_Completion_Year                          100 non-null    int64
 20  Education_Location                                 100 non-null    object
 21  Language_Skills_Help                               100 non-null    int64
 22  Writing_Skills                                     100 non-null    int64
 23  Verbal_Skills                                      100 non-null    int64
 24  Numerical_Skills                                   100 non-null    int64
 25  Computer_Skills                                    100 non-null    int64
 26  Support_Connections                                100 non-null    int64
 27  Internet_Access                                    100 non-null    int64
 28  Transportation_Access                              100 non-null    int64
 29  Caregiver                                          100 non-null    int64
 30  Housing_Situation                                  100 non-null    object
 31  Housing_help                                       100 non-null    int64
 32  Food_Insecurity                                    100 non-null    int64
 33  Immediate_Assistance_Need                          100 non-null    int64
 34  Safety_Concerns                                    100 non-null    int64
 35  Mental_Health_Support                              100 non-null    int64
 36  Substance_Use_Support                              100 non-null    int64
 37  Source_of_Income                                   100 non-null    object
 38  Visual_or_hearing_Disability                       100 non-null    int64
 39  Physical_disability                                100 non-null    int64
 40  Learning_Disability                                100 non-null    int64
 41  Intellectual_Disability                            100 non-null    int64
 42  Mental_Health_Condition                            100 non-null    int64
 43  Long_Term_Health_Condition                         100 non-null    int64
 44  Cronic_pain                                        100 non-null    int64
 45  Crime_Conviction                                   100 non-null    int64
 46  Current_Student                                    100 non-null    int64
 47  Currently_Working                                  100 non-null    int64
 48  months_since_last_job                              100 non-null    int64
 49  Work_duration                                      100 non-null    int64
 50  Hours_worked_last_job                              100 non-null    int64
 51  Hourly_wage_last_job                               100 non-null    int64
 52  Canadian_work_experience                           100 non-null    int64
 53  Ability_to_work                                    100 non-null    int64
 54  Hours_available_to_work                            100 non-null    int64
 55  Desired_Hourly_Wage                                100 non-null    int64
 56  PI_Additional_Services_to_Find_Job                 100 non-null    int64
 57  PI_BasicNeeds                                      100 non-null    int64
 58  PI_Carrer_Exploration&Planning                     100 non-null    int64
 59  PI_Client_Counseling                               100 non-null    int64
 60  PI_Community_Support                               100 non-null    int64
 61  PI_Employability_Skills_Training                   100 non-null    int64
 62  PI_Employer                                        100 non-null    int64
 63  PI_Health_Supports                                 100 non-null    int64
 64  PI_Job_Supports                                    100 non-null    int64
 65  PI_Job_Seeker_Supports                             100 non-null    int64
 66  PI_Mentoring                                       100 non-null    int64
 67  PI_Other                                           100 non-null    int64
 68  PI_SSM_Self-employment                             100 non-null    int64
 69  PI_Academic_Upgrading                              100 non-null    int64
 70  PI_Referral                                        100 non-null    int64
 71  PI_Resource_Digital-Services                       100 non-null    int64
 72  PI_Retention                                       100 non-null    int64
 73  PI_Support_Changes_in_Work_Activities&supervision  100 non-null    int64
 74  Outcome_Return_to_Work                             100 non-null    int64
dtypes: int64(57), object(18)
memory usage: 59.4+ KB

,Unnamed: 0,Age,Years_in_Canada,Number_of_Dependents,Education_Completion_Year,Language_Skills_Help,Writing_Skills,Verbal_Skills,Numerical_Skills,Computer_Skills,...,PI_Job_Seeker_Supports,PI_Mentoring,PI_Other,PI_SSM_Self-employment,PI_Academic_Upgrading,PI_Referral,PI_Resource_Digital-Services,PI_Retention,PI_Support_Changes_in_Work_Activities&supervision,Outcome_Return_to_Work
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.00,...,100.000000,100.000000,100.0,100.000000,100.000000,100.000000,100.000000,100.0,100.000000,100.000000
mean,49.500000,42.370000,35.490000,2.120000,1994.420000,0.160000,0.460000,0.630000,0.57000,0.55,...,0.230000,0.160000,0.0,0.130000,0.270000,0.200000,0.390000,0.0,0.050000,0.410000
std,29.011492,15.114148,18.485864,1.647036,15.631605,0.368453,0.500908,0.485237,0.49757,0.50,...,0.422953,0.368453,0.0,0.337998,0.446196,0.402015,0.490207,0.0,0.219043,0.494311
min,0.000000,18.000000,3.000000,0.000000,1967.000000,0.000000,0.000000,0.000000,0.00000,0.00,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,24.750000,27.750000,19.750000,1.000000,1982.000000,0.000000,0.000000,0.000000,0.00000,0.00,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
50%,49.500000,43.500000,35.000000,2.000000,1993.000000,0.000000,0.000000,1.000000,1.00000,1.00,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
75%,74.250000,55.250000,52.250000,3.000000,2007.000000,0.000000,1.000000,1.000000,1.00000,1.00,...,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,1.000000,0.0,0.000000,1.000000
max,99.000000,65.000000,65.000000,5.000000,2024.000000,1.000000,1.000000,1.000000,1.00000,1.00,...,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000

In [13]:
data = pd.read_csv('dataset_grouped.csv', index_col='Client_ID')

data.rename(columns={
    'PI_Baisc Needs': 'PI_BasicNeeds',
    'PI_Refereal' : 'PI_Referral'
}, inplace=True)

columns_to_str = [
    'LangHelp', 'Writing_Skills', 'Verbal_Skills', 'Numerical_Skills',
    'Computer_Skills', 'SupportConn', 'InternetAcc', 'TransportAcc', 'Caregiver',
    'Housing_help', 'Food_Insecurity', 'ImmAssistNeed', 'Safety_Concerns',
    'MentalHSup', 'SubstanceSup','VisHearDisab', 'PhysDisab',
    'LearnDisab', 'IntellDisab', 'MentalHCond', 'LongTermHCond', 'Cronic_pain',
    'Crime_Conviction', 'Current_Student', 'Currently_Working', 'CAWorkExp',
    'WorkAbility', 'PISupport', 'OutcomeWork', 'PI_AddServices', 'PI_BasicNeeds',
    'PI_CareerExpl', 'PI_ClientCouns', 'PI_CommSup', 'PI_EmpSkillTrain', 'PI_Employer',
    'PI_HealthSup', 'PI_JobSup', 'PI_Mentoring', 'PI_Other', 'PI_SSM_SelfEmp',
    'PI_AcadUpgrad', 'PI_Referral', 'PI_ResDigServ', 'PI_Retention', 'PI_WorkChangeSup'
#]
# Convert numeric columns representing categorical data to string
#data[columns_to_str] = data[columns_to_str].astype(str)

data

,Unnamed: 0,Birth Date,Age,City,Province,Preferred_Language,Birth_Country,Year_of_Arrival_to_Canada,Years_in_Canada,Status_In_Canada,...,PI_Job_Seeker_Supports,PI_Mentoring,PI_Other,PI_SSM_Self-employment,PI_Academic_Upgrading,PI_Referral,PI_Resource_Digital-Services,PI_Retention,PI_Support_Changes_in_Work_Activities&supervision,Outcome_Return_to_Work
Client_ID,,,,,,,,,,,,,,,,,,,,,
100001,0,1998-01-23,26,Toronto,ON,French,Canada,Not applicable,26,Canadian citizen,...,0,0,0,0,1,0,0,0,0,0
100002,1,1960-09-16,63,Halifax,NS,French,Canada,Not applicable,63,Canadian citizen,...,0,0,0,0,0,0,0,0,0,1
100003,2,1977-03-11,46,St.John,NL,French,Canada,Not applicable,46,Canadian citizen,...,0,0,0,1,0,0,0,0,0,0
100004,3,1969-10-17,54,Quebec City,QC,English,Canada,Not applicable,54,Canadian citizen,...,0,0,0,0,1,1,0,0,0,0
100005,4,1972-05-01,51,Calgary,AB,English,Canada,Not applicable,51,Canadian citizen,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100096,95,1961-09-15,62,Edmonton,AB,English,China,2020,4,Refugee claimant,...,1,0,0,0,0,0,0,0,0,1
100097,96,1999-02-04,25,Montreal,QC,French,Canada,Not applicable,25,Canadian citizen,...,0,0,0,0,1,1,0,0,0,0
100098,97,1995-03-17,28,Quebec City,QC,English,Canada,Not applicable,28,Canadian citizen,...,0,0,0,0,0,0,0,0,0,0
100099,98,1998-11-27,25,Montreal,QC,English,Canada,Not applicable,25,Canadian citizen,...,0,0,0,0,0,0,0,0,0,1
100100,99,1959-12-11,64,Calgary,AB,English,United Kingdom,2006,18,Protected Person,...,1,0,0,0,0,0,0,0,0,1

In [14]:
# Check for missing values
missing_values = data.isnull().sum()

# Drop or impute missing values (example: dropping rows with missing values)
data_cleaned = data.dropna()

# Alternatively, impute missing values (example: fill with mean)
# data_cleaned = data.fillna(data.mean())
# data_cleaned = data.fillna(data.mode())

# Verify missing values are handled
data_cleaned.isnull().sum()

Unnamed: 0                                           0
Birth Date                                           0
Age                                                  0
City                                                 0
Province                                             0
                                                    ..
PI_Referral                                          0
PI_Resource_Digital-Services                         0
PI_Retention                                         0
PI_Support_Changes_in_Work_Activities&supervision    0
Outcome_Return_to_Work                               0
Length: 75, dtype: int64

check data types

In [19]:
data['Outcome_Return_to_Work'].value_counts()

Outcome_Return_to_Work
0    59
1    41
Name: count, dtype: int64

check if nan was removed

In [22]:
data['Outcome_Return_to_Work'].value_counts()

Outcome_Return_to_Work
0    57
1    39
Name: count, dtype: int64

convert date of birth date to numeric

In [ ]:
data['Birth Date'] = pd.to_datetime(data['Birth Date'])

# Convert the 'Date' column to the number of days since 1970-01-01
data['Birth Date'] = (data['Birth Date'] - pd.Timestamp('1970-01-01')).dt.total_seconds() / (24 * 60 * 60)

see best parameters for outcomeWork

In [ ]:
data.corr()['outcomeWork'] * 100